<ion-view title="Nope!">
  <!--<ion-content>-->
      <!--Nope! It was a {{ actualTrain }}. You picked {{ trainChoice }}-->
    <!--<a class="button button-block button-positive" href="#/game">-->
      <!--Back-->
    <!--</a>-->
  <!--</ion-content>-->
  <video class="bgvid" autoplay>

    <source src="{{ videoSource }}" type="video/webm">
    <!--<source src="vid/MVI_2047.MOV" type="video/webm">-->
    <!--<source src="vid/MVI_2047.MOV" type="video/mp4">-->
  </video>
  <!--<div class="video-container">-->
  <!--<iframe class="bgvid" src="vid/VID_20150830_191238417.mp4"></iframe>-->
    <!--</div>-->

    <!--<videogular vg-theme="lib/videogular-themes-default/videogular.css" vg-width="200"-->
                <!--vg-height="200"-->
                <!--vg-autoplay="true">-->
      <!--<vg-video vg-src="vid/VID_20150830_191238417.mp4"></vg-video>-->

    <!--</videogular>-->
  <!--<div youtube-iframe="test"></div>-->
  <iframe class="bgvid" src="" dynamic-url dynamic-url-src="vid/VID_20150830_191238417.mp4" frameborder="0" allowfullscreen></iframe>
  <hr />
</ion-view>
